<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="logo">
      <img src="/images/circle.png" alt="logo" id="logo-img" />
      <a href="/">Members Only</a>
    </div>
    <nav>
      <a href="/">Home</a>
      {{#if currentUser}}
        <a href="/profile">Profile</a>
        <a href="/logout">Log Out</a>
      {{else}}
        <a href="/sign-in">Sign In</a>
        <a href="/sign-up">Sign Up</a>
      {{/if}}
    </nav>
    {{{body}}}
  </body>
</html>